.main{
    background-color: #82f6fa;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main p{
  font-size: larger;
}