.footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h1{
  color: inherit;
  margin: 5px 0;
}
.footer p{
  color: inherit;
  margin: 5px 0;
}
.footer pre{
  color: black;
  margin: 5px 0;
}
.footer pre ul{
  list-style: none;
  color: black;
  margin: 5px 0;
}