.formUpload{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0;
    text-shadow: -1px 0 0 gray,1px 0 0 gray,0 -1px 0 gray,0 1px 0 gray;
}
.formUpload>button{
    width: 15%;
}
/* .formUpload>button{
    width: 15%;
} */
.formUpload>ul>li{
    display: flex;
}
.formUpload>ul>li>span{
    width: 10%;
}