.main{
    /* background-color: #82f6fa; */
    /* background-color: url("../assets/land2.jpg"); */
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-shadow: -1px 0 0 gray,1px 0 0 gray,0 -1px 0 gray,0 1px 0 gray;
}
.main img{
  /* opacity: 0.5; */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999999;
}
.main p{
  font-size: larger;
}

.conSMain{
  /* margin: 50px 0; */
  position: relative;
}
.conSMain>div{
  width: 100%;
  padding: 25px 0;
  background-color: #f2e54e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.conSMain>div>img{
  width: 50%;
  border-radius: 25px;
}
.conSMain>svg{
  position: absolute;
  right: 20%;
  width: 10%;
}
.conUMain>div{
  width: 100%;
  display: flex;
  align-items: center;
}
.conUMain>div>img{
  width: 50%;
}
.conUMain>div>div{
  width: 40%;
  margin: 0 0 0 50px;
}
.conUMain>div>div>a>button{
  background-color: #ff4255;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s;
}
.conUMain>div>div>a>button:hover{
  opacity: 0.75;
}

.conInsta{
  padding: 20px 0;
  background-color: #242424;
  display: flex;
  justify-content: space-around;
  color: white;
}
.conInsta>div>h3{
  font-weight: bolder;
}
.conInsta>div>p{
  opacity: 0.8;
}
.conInsta>button{
  padding: 5px 10px;
  color: white;
  font-weight: bolder;
  background-color: magenta;
}
.conInsta>button:hover{
  opacity: 0.7;
}

.eachSlideImg{
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* /////////////// */

.mainMenu{
  height: 75vh;
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: row;
  color: white; 
}
.btnBackHome{
  border: none;
  background-color: transparent;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.mainMenu img{
  /* opacity: 0.5; */
  position: absolute;
  width: 100vw;
  height: 75vh;
  z-index: -999999;
}
.mainMenu div{
  margin: 0 50px;
}
.mainMenu p{
  font-size: larger;
}

/* ////////////////////////////// */
.aboutme{
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: -1px 0 0 gray,1px 0 0 gray,0 -1px 0 gray,0 1px 0 gray;
  
}
.aboutme img{
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999999;
}
.aboutme p{
  font-size: larger;
}

.tujuan{
  height: 50vh;
  display: flex;
  /* border:  5px solid red; */
  margin: 50px 0;
  justify-content: space-around;
  align-items: center;
}
.tujuan>img{
  border-radius: 5px;
  width: 35%;
  height: 100%;
}
.tujuan>div>a>button{
  background-color: magenta;
  color: white;
}
.tujuan>div>button:hover{
  opacity: 0.5;
}

.lokasi{
  height: 50vh;
  display: flex;
  /* border:  5px solid red; */
  margin: 50px 0;
  justify-content: space-around;
  align-items: center;
}
.lokasi>iframe{
  border-radius: 5px;
  width: 35%;
  height: 100%;
}
.lokasi>div>a>button{
  background-color: magenta;
  color: white;
}
.lokasi>div>button:hover{
  opacity: 0.5;
}

.team{
  height: 50vh;
  display: flex;
  padding: 25px 0;
  background-color: #dbdbdb;
  /* border:  5px solid red; */
  margin: 50px 0;
  justify-content: space-around;
  align-items: center;
}
.team>img{
  border-radius: 5px;
  width: 35%;
  height: 100%;
}
.team>div>button{
  background-color: magenta;
  color: white;
}
.team>div>button:hover{
  opacity: 0.5;
}